[submodule "FMI-Codes-Mobile"]
	path = FMI-Codes-Mobile
	url = https://github.com/ShadowOfDiablo/FMI-Codes-Mobile.git
[submodule "FMI-Codes-BE"]
	path = FMI-Codes-BE
	url = https://github.com/ShadowOfDiablo/FMI-Codes-BE.git
[submodule "FMI-Codes-Docs-FE"]
	path = FMI-Codes-Docs-FE
	url = https://github.com/ShadowOfDiablo/FMI-Codes-Docs-FE.git
[submodule "FMI-Codes-npm-module"]
	path = FMI-Codes-npm-module
	url = https://github.com/ShadowOfDiablo/FMI-Codes-npm-module.git
